/* font style */
    body{
        font-family: 'Work Sans', sans-serif;
    }
/* font style End*/

nav{
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(224, 22, 22, 0.05);
    
    margin: auto;
}
.nav-container{
    display: flex;
    max-width: 1440px;
    margin: auto;
    justify-content: space-between;
}
.nav-left{
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-left img{
    width: 81px;
    height: 35px;
    flex-shrink: 0;
}
.nav-left h2{
    color: #0B0223;
    font-size: 2.8rem;
    font-weight: 700;
}
.nav-left .span-1{
    font-size: 2.8rem;
    font-weight: 700;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}
.nav-right{
    display: flex;
    align-items: center;
    gap: 32px;
}
.nav-right a{
    text-decoration: none;
    color: #3C354F;
    font-family: Work Sans;
    font-size: 1.125rem;
    font-weight: 500;
}
.nav-right .nav-btn{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 17px 16px 18px 24px;
    display: flex;
    align-items: center;
    
}
.nav-right .fa-youtube{
    font-size: 1.87rem;
    color: #F61C0D;
    padding: 0;
    margin: 0 16px;
}
/* Banner Style Start */
.banner{
    margin: 19px;
    /* background-image: url(../images/Group14.png);
    background-repeat: no-repeat;
    fill: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%); */
}
.banner-container{
    max-width: 1440px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-discription h3{
    margin: 0;
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}
.banner-discription h1{
    margin: 0;
    font-size: 5.93rem;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner-discription .pragraph1{
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    text-transform: lowercase;
}
.banner-discription .pragraph2{
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
}
.banner-discription .pragraph3{
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
}
.btn-container{
    display: flex;
    gap: 10px;
}
.btn-container .btn-1{
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    border: none;
    border-radius: 48px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
}
.btn-container .btn-2{
    border-radius: 48px;
    background: #4EC5F7;
    padding: 21px 40px;
    border: none;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
}
/* Banner Style End */

/* Online game funny section Style Start */
    .funny-game-section{
        max-width: 1440px;
        margin: auto;
        text-align: center;
    }
    .img-container{
        display: flex;
        gap: 24px;
    }


.fa-circle-play{
    color: rgba(255, 255, 255, 1);
    font-size: 3.5rem;
    padding-top: 50%;
    text-align: center;
}
.hiden p{
    color: #FF42A5;
font-size: 20px;
font-weight: 600;

}
.parant{
    position: relative;
}
.hiden{
    display: none;
    position: absolute;
    justify-content: center;
    background-color: rgba(15, 15, 16, 0.5);
    width: 342px;
    height: 400px;
    border-radius: 16px;
    top: 0;
    margin: auto;
    
}
.parant:hover .hiden{
    display: block;
}
.funny-game-section h3{
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 0;
}
.funny-game-section .funny-video-text{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    font-weight: 700;
}
.funny-game-section .game-title{
    color: #534C64;
    text-align: center;
    font-family: Work Sans;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 48px;
}
.image-title{
    color: #534C64;
    font-family: Work Sans;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;

    
}

/* Online game funny section Style End */

/* Instantly Play section style Start*/
.play-section{
    max-width: 1440px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}
.play-section-container{
    padding-left: 200px;
    text-align: right;
}
.play-section h3{
    color: #0B0223;
    font-family: Work Sans;
    font-size: 3rem;
    font-weight: 700;
    line-height: 60px;
}

.play-section .play-instantly{
    font-size: 3rem;
    font-weight: 700;
    line-height: 60px;
    background: linear-gradient(180deg, #F948B2 0%, #F948B2 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.play-section p{
    color: #534C64;
    font-size: 1.125rem;
    font-weight: 400;
    width: 353px;
}
.istantly-img-container{
      position: relative;
}
.main-img{
    height: 100%;
}
.sort-img{
   
}

.short-img-container{
    position: absolute;
    top: 400px;
    right: 450px;
}
/* Instantly Play section style End*/

/* title icon style Start now */
.title-icon-section{
    max-width: 1440px;
    margin: auto;
    margin-top: 250px;
}

.icon-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.title-container p{
    /* color: #0B0223; */
    font-size: 1.25rem;
    font-weight: 600;
}
.title-container{
    display: flex;
    border-radius: 50px;
    background: #FFF;
    gap: 1rem;
    border: 3px solid white;
    padding: 1rem;
}
.title-container:hover {
    border: 3px solid #FF42A5;
    color: #FF42A5;
}

/* title icon style End now */

/* footer style start */
footer{
    background: #0B0223;
    
}
.footer-main{
    width: 1440px;
    margin: auto;
    margin-top: 100px;
    
}
.footer-div{
    width: 100%;
    margin: auto;
    flex-direction: column;
    text-align: center;
}
.list{
    display: flex;
    margin: auto;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 50px;
}
.font-icon{
    display: flex;
    justify-content: center;
    margin: auto;
}
.policy{
    display: flex;
    margin: auto;
    justify-content: center;
    margin-top: 50px;
}
.footer-div .nav-left{
    justify-content: center;
}

.footer-div h2{
    color: #FFF;
    font-family: Work Sans;
    font-size: 2.82rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.list > p{
    color: #FFF;
    font-size: 1.12rem;
    font-weight: 600;
    margin-right: 60px;
}
.font-icon{
    gap: 30px;
}

.fa-twitter{
    color: #00acee;
    font-size: 1.87rem;
    background-color: white;
    border-radius: 50%;
    padding: 10px;
}
.fa-facebook-f{
    color: #3b5998;
    font-size: 1.87rem;
    background-color: white;
    border-radius: 50%;
    padding: 10px;
}
.font-icon .fa-youtube{
    color: #CD201F;
    font-size: 1.87rem;
    background-color: white;
    border-radius: 50%;
    padding: 10px;
}
.fa-linkedin-in{
    color: #0072b1;
    font-size: 1.87rem;
    background-color: white;
    border-radius: 50%;
    padding: 10px;
}
.fa-instagram{
    color: #fccc63;
    font-size: 1.87rem;
    background-color: white;
    border-radius: 50%;
    padding: 10px;
}
.fa-apple{
    color: #66b447;
    font-size: 1.87rem;
    background-color: white;
    border-radius: 50%;
    padding: 10px;
}
.policy p{
    color: rgba(255, 255, 255, 0.60);
    font-size: 1rem;
    font-weight: 500;
    margin-right: 60px;
    align-items: ;
}
.footer-discription{
    color: rgba(255, 255, 255, 0.60);
    font-size: 1rem;
    font-weight: 500;
    padding-bottom: 130px;
}
/* footer style End */





/* Responsive for mobile device Start*/
@media screen and (max-width:425px) {

    /* header section */
    .nav-container{
        flex-direction: column;
        justify-content: center;
    }
    .nav-left{
        justify-content: center;
    }
    .nav-right{
        flex-direction: column;
        margin: 10px;
    }
    .banner-container{
        flex-direction: column-reverse;
    }
    .banner-img img{
        width: 100%;
        margin-bottom: 80px;
    }
    
/* funny Game */
    .img-container{
        flex-direction: column;
    }
    .hiden{
        margin: 0 33px;
    }
/* Play section */
    .play-section{
        flex-direction: column-reverse;
        margin-top: 10px;
    }
    .play-section-container{
        padding-left: 0;
        text-align: center;
    }
    .sort-img{
        height: 200px;
        width: 160px;
    }
    .short-img-container{
        position: absolute;
        top: 300px;
        right: 120px;
    }
    .main-img{
        width: 100%;
    }
    .istantly-img-container{
        margin-bottom: 100px;
    }
    /* Icon */
    .icon-img{
        height: 40px;
        width: 40px;
    }
    .title-container p{
    font-size: 10px;
    font-weight: 600;
    }
    .title-container{
        padding: .5rem;
    }
    .title-icon-section{
        justify-content: center;
        margin-top: 70px;
    }
    .icon-container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        justify-content: center;
    }
    /* footer */
    .list{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        padding-left: 10px;
    }
    .font-icon{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        padding: 0 50px;
    }
    .policy{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .footer-main{
        width: 100%;
        
    }
    
}
/* Responsive for mobile device End*/





/* Responsive for Tablet device Start*/
@media screen and (min-width:426px) and (max-width:768px) {
    .banner-img img{
        width: 100%;
        margin-bottom: 80px;
    }
    .banner-container{
        display: flex;
        justify-content: space-evenly;
        gap: 80px;
    }
    
/* funny Game */
    .img-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .hiden{
        /* margin: 0 33px; */
    }
/* Play section */
    .play-section{
        flex-direction: column-reverse;
        margin-top: 10px;
    }
    .play-section-container{
        padding-left: 0;
        text-align: center;
    }
    .sort-img{
        height: 300px;
        width: 250px;
    }
    .short-img-container{
        position: absolute;
        top: 500px;
        right: 220px;
    }
    .main-img{
        width: 100%;
    }
    .istantly-img-container{
        margin-bottom: 100px;
    }
    /* Icon */
    .icon-img{
        height: 40px;
        width: 40px;
    }
    .title-container p{
    font-size: 10px;
    font-weight: 600;
    }
    .title-container{
        padding: .5rem;
    }
    .title-icon-section{
        justify-content: center;
        margin-top: 70px;
    }
    .icon-container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        justify-content: center;
    }
    /* footer */
    .list{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        padding-left: 10px;
    }
    .font-icon{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        padding: 0 50px;
    }
    .policy{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .footer-main{
        width: 100%;
        
    }
    
    
    
    
    nav{
        padding: 0 30px;
    }
    .nav-left h2{
        font-size: 1.8rem;
    }
    .nav-left .span-1{
        font-size: 1.8rem;
    }
    .nav-right{
        gap: 13px;
    }
    .nav-right a{
        font-size: .8rem;
    }
    .nav-right .nav-btn{
        padding: 10px 9px 11px 14px;    
    }
    .nav-right .fa-youtube{
        font-size: 1.1rem;
    }





    .banner-discription{
        box-sizing: border-box;
        padding-left: 40px;
    }
    .banner-discription h3{
        font-size: 1.5rem;
    }
    .banner-discription h1{
        font-size: 3rem;
    }
    .banner-discription .pragraph1{
        font-size: .7rem;
    }
    .banner-discription .pragraph2{
        font-size: .7rem;
    }
    .banner-discription .pragraph3{
        font-size: .7rem;
    }
    .btn-container{
        justify-content: space-around;
        gap: 10px;
    }
    .btn-container .btn-1{
        padding: 10px 15px;
        border-radius: 20px;
        font-size: .6rem;
        height: 50px;
        align-items: center;
    }
    .btn-container .btn-2{
        padding: 10px 15px;
        border-radius: 20px;
        font-size: .6rem;
        height: 50px;
        align-items: center;
    }
}




/* Responsive for Tablet device End*/